= render 'shared/header'

.main-content
  .main-content__left
    - @contents.each do |content|
      =link_to  content_path(content) ,class: "main-content__left--article" do
        = render partial: 'shared/article', locals: { content: content}

  .main-content__right
    .main-content__right--ranking
      .i.fas.fa-chess-king
      いいね  RANKING
      .i.fas.fa-chess-king
      %br
    = render partial: 'shared/ranking-article'

= render 'shared/footer'
