.header
  .header__logo
    Portfolio
  .header__right
    .header__right--sns
      .i.fab.fa-twitter
      .i.fab.fa-facebook
    .header__right--menu
      .i.fas.fa-bars
    .header__right--account
      =link_to new_user_registration_path do
        .i.fas.fa-user
    .header__right--search
      .i.fas.fa-search

.main-content
  .main-content__left
    .main-content__left--article
      .article__image
        content.image
      .article__list
        .article__list--text
          content.text
        .article__list--time
          content.time
    .main-content__left--article
      .article__image
        content.image
      .article__list
        .article__list--text
          content.text
        .article__list--time
          content.time
    .main-content__left--article
      .article__image
        content.image
      .article__list
        .article__list--text
          content.text
        .article__list--time
          content.time



  .main-content__right


.footer
  .footer__left
    .footer__left--text
      CHECK ME
    .footer__left--sns
      .i.fab.fa-twitter
      .i.fab.fa-github
  .footer__right
