= render 'shared/header'

.mypage-content
  .mypage-content__profile
    .mypage__left
      .mypage-content__profile--age
        .i.fas.fa-caret-square-down
        age  : 26
      .mypage-content__profile--career
        .i.fas.fa-caret-square-down
        前職 : 法人営業 (3年間)
      .mypage-content__profile--language
        .i.fas.fa-caret-square-down
        学習言語
        .mypage-content__profile--language-front
          フロントエンド :
          HTML , haml
          CSS , SCSS,
          java script
        .mypage-content__profile--language-back
          バックエンド &nbsp;&nbsp; :
          ruby,
          ruby on rails
      .mypage-content__profile--apli
        .i.fas.fa-caret-square-down
        過去作成アプリ
        .mypage-content__profile--apli-name
          → pictweet &nbsp;&nbsp;&nbsp; (コメント、画像投稿アプリ)
          %br
          → chat-space (チャットアプリ)
          %br
          → メルカリ &nbsp;&nbsp; （コピーサイト）
      .mypage-content__profile--sns
        .i.fab.fa-github
        github
      .mypage-content__profile--current
        .i.fas.fa-caret-square-down
        Current :
        TECH::EXPERTにて学習中
        .google-map
          google map の埋め込み（渋谷）

    .mypage__right
      .mypage-content__profile--name
        .i.fas.fa-user
        ABOUT ME
      =image_tag "mypage-icon.png", class: "mypage-content__profile--image"

= render 'shared/footer'
