/.bundle

public/uploads/*
config/secrets.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_historyconfig/secrets.yml

log/capistrano.log

*.cache
