.header
  .header__logo
    Portfolio
  .header__right
    .header__right--sns
      .i.fab.fa-twitter
      .i.fab.fa-facebook
    .header__right--menu
      = link_to user_session_path do
        .i.fas.fa-bars
    .header__right--account
      - if user_signed_in?
        =link_to new_user_registration_path do
          .i.fas.fa-user
      - else
        =link_to destroy_user_session_path do
          .i.fas.fa-user
    .header__right--search
      =link_to destroy_user_session_path, method: "delete" do
        .i.fas.fa-search
