@import "./modules/color";

.main-content {
  padding: 80px 180px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $base-color;
  position: relative;
  z-index: 20;
  &__left {
    width: 740px;
    background-color: white;
    height: 100%;
    &--article {
      text-decoration: none;
      .fadein {
        opacity : 0;
        margin: 20px;
        transform: translateYX(100px);
        transition: all 3s;
        border: 1px solid $border-color;
        display: flex;
      }
    }
    &--user {
      padding:20px 20px 0;
      font-size: 18px;
    }
    &--search {
      padding: 20px;
    }
  }
  &__right {
    width: 270px;
    height: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    &--ranking {
      font-size: 18px;
    }
  }
  &__page {
    padding: 0 180px 20px;
    background-color: $base-color;
    .pagination {
      font-weight: bold;
      & a {
        @include tag-box;
        @include link_white;
        padding: 8px;
        margin-left: 8px;
        &:hover {
          color: yellow;
        }
      }
    }
  }
}
