.header {
  padding: 0 180px;
  background-color: #f5f5f5;
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  align-items:center;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
  &__logo {
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  &__right {
    display: flex;
    &--sns {
      margin-right: 40px;
      font-size: 25px;
      color: #9B9B9B;
    }
    &--menu {
      margin-right: 40px;
      font-size: 25px;
      color: #9B9B9B;
    }
    &--account {
      margin-right: 40px;
      font-size: 25px;
      color: #9B9B9B;
    }
    &--search {
      margin-right: 40px;
      font-size: 20px;
      padding: 0 10px;
      border-right: 1px solid #D4D4D4;
      border-left: 1px solid #D4D4D4;
      color: #9B9B9B;
    }
  }
}

//ドロップダウンメニュー
ul.child{
  display: none;
  position: absolute;
  margin-left: -5px;
  font-size: 16px;
  & a {
    color: #D4D4D4;
    text-decoration: none;
  }
  li.child-hidden {
    opacity: 0;
    height: 10px;
  }
  li.child{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    border: 1px solid #D4D4D4;
    &:hover{
      opacity: 0.8;
      border: 2px solid #D4D4D4;
    }
  }
}

//検索フォーム
.child-search{
  display: none;
  position: absolute;
  left: 0;
  width: 99.2%;
  font-size: 16px;
  .child-hidden {
    opacity: 0;
    height: 20px;
  }
  .child-search{
    border: 1px solid #D4D4D4;
    background-color:black;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    color: #D4D4D4;
    border-radius: 20px;
    text-align: center;
    position: relative;
    input {
      width: 90%;
    }
    &__taglist {
      color: black;
      position: absolute;
      bottom: 20px;
      &--tag {
        display: inline-block;
        font-size: 100%;
        background-color: black;
        border-radius: 20%;
        padding: 6px;
        text-decoration: none;
        margin: 20px 3px 0;
        .tag {
          border-radius: 20%;
          border: solid 2px white;
          padding:6px;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
}
