@import "./modules/color";

.mypage-content {
  height: calc(100vh - 170px);
  width: 100%;
  &__profile {
    width: 900px;
    max-height: 580px;
    margin: 40px auto;
    display: flex;
    &--age {
      @include border-box;
    }
    &--career {
      @include border-box;
    }
    &--language {
      @include border-box;
    }
    &--apli {
      @include border-box;
    }
    &--now {
      @include border-box;
    }
    &--sns {
      @include border-box;
    }
    &--name {
      @include border-box;
      text-align: center;
      font-size: 20px;
    }
    &--current {
      @include border-box;
    }
  }
}

.google-map {
  @include border-box;
  height: 240px;
}

.mypage__right {
  @include border-box;
  width: 400px;
  img {
    height: 400px;
    width: 360px;
  }
}

.mypage__left {
  width: 500px;

}
