@import "./modules/color";

.user_content {
  position: relative;
  padding: 100px 300px;
  height: calc(100% - 600px);
  width: calc(100% - 600px);
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  &-list {
    height: calc(100vh - 400px);
    display: flex;
  }
  &-image {
    margin-right: 20px;
    height: 300px;
    width: 400px;
  }
  &-form {
    @include tag-box;
    color: white;
    padding: 40px;
    position: relative;
    margin: auto;
    width: 340px;
    .field {
      width: 400px;
      input {
        width: 300px;
      }
    }
  }
}

.actions {
  margin-right:40px;
  display: flex;
  height: 60px;
  position: relative;
  bottom: -300px;
  right: 400px;
  line-height: 60px;
  &__devise {
    @include tag-box;
    margin-left:40px;
    width: 80px;
    text-align: center;
    a {
      @include link_white;
      font-weight: bold;
    }
  }
}

#user_submit {
  @include tag-box;
  @include link_white;
  margin-left:40px;
  padding: 10px;
  font-weight: bold;
}
